<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homse Services System</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU6Xw704+h835Lr+J903rqVpEMFdXCF/8OtW1OoJpLegxh"
        crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>Bienvenido a Home Services System</h1>
                <p>Una aplicación web para conectar a personas con oficios de servicios para la casa como albañilería, carpintería, jardinería y más.</p>
                <p>Encuentra rápidamente profesionales calificados para realizar trabajos en tu hogar.</p>
            </div>
            <div class="col-md-6">
                <img src="/assets/img/HSS_logo.jpg" alt="Homse Services System">
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-3t3qlltB/qYoHs8W84sZsO9P9hLheYvAs8WpHiwmlKexogAnTJVEFjN8syiIQbCC"