<div class="d-flex justify-content-center">
  <div class="card" style="width: 18rem; margin-right: 20px;">
    <img class="card-img-top" src="/assets/img/icon_user.png" width=auto height=auto alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ingresar como Usuario</h5>
      <p class="card-text">Aquí puedes escribir una descripción o detalles adicionales sobre esta tarjeta.</p>
      <a href="/loginS" class="btn btn-primary">Ingresar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 20px;">
    <img class="card-img-top" src="/assets/img/icon_prov.png" width=auto height=auto alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ingresar como Proveedor</h5>
      <p class="card-text">Aquí puedes escribir una descripción o detalles adicionales sobre esta tarjeta.</p>
      <a href="/loginP" class="btn btn-primary">Ingresar</a>
    </div>
  </div>
</div>
